@model thirdAssignment.Aplication.Models.DoctorModel

@if (ViewBag.message is not null)
{
    <p class="alert-danger d-block text-center">@ViewBag.message</p>
}
<div class="row">
    <div class="col-8 offset-2">
        <div class=" bg-dark text-light">
            <h1> Edit User</h1>
        </div>
        <div class="card shadow-sm">
            <div class="card-body">

                <section>
                    <form method="post" asp-controller="Doctor" asp-action="EditDoctor">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <input type="type" name="Id" value="@Model.Id" class="visually-hidden" />



                        <div class="mb-3">
                            <label for="Name" class="form-label"> Name</label>
                            <input type="text" name="Name" value="@Model.Name" class="form-control" />
                        </div>

                        <div class="mb-3">
                            <label for="LastName" class="form-label"> Last Name</label>
                            <input type="text" name="LastName" value="@Model.LastName" class="form-control" />
                        </div>


                        <div class="mb-3">
                            <label for="EMailAddress" class="form-label"> EMail Address </label>
                            <input type="text" name="EMailAddress" value="@Model.EMailAddress" class="form-control" />
                        </div>


                        <div class="mb-3">
                            <label for="PhoneNumber" class="form-label"> Phone Number</label>
                            <input type="text" name="PhoneNumber" value="@Model.PhoneNumber" class="form-control" />
                        </div>

                        <div class="mb-3">
                            <label for="Cedula" class="form-label"> Cedula </label>
                            <input type="text" name="Cedula" value="@Model.Cedula" class="form-control" />
                        </div>

                        <div class="mb-3">
                            <label for="img" class="form-label"> Image </label>
                            <input type="file" name="img" value="@Model.ImgPath" class="form-control" />
                        </div>

                        <div class="p-2">
                            <button asp-controller="Doctor" asp-action="EditDoctor" class="btn btn-primary  float-end  p-2  "> Edit </button>
                            <button asp-controller="Doctor" asp-action="index" class="btn btn-outline-warning  float-end  p-2  mx-2"> Go Back </button>
                        </div>
                    </form>

                </section>

            </div>
        </div>
    </div>
</div>