
@model thirdAssignment.Presentation.Models.CunsultAppointmentModel

@if (ViewBag.Message != null)
{
    <div class="alert alert-danger text-center" role="alert">
        @ViewBag.Message
    </div>
}

<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="bg-dark text-light py-3">
            <h1 class="text-center">Select Tests</h1>
        </div>
        <div class="card mt-4 shadow-sm">
            <div class="card-body">
                <section>
                    @using (Html.BeginForm("ConsultAnAppointmet", "Appointment", FormMethod.Post))
                    {
                //        @Html.HiddenFor(m => m.AppointmentModel.Id)  
                        @Html.HiddenFor(m => m.AppointmentModel.Patient)  
                        @Html.HiddenFor(m => m.AppointmentModel.Doctor)  
                        <input type hidden name="DoctorId" value="@Model.AppointmentModel.Doctor.Id"  />
                        <input type hidden name="PatientId" value="@Model.AppointmentModel.Patient.Id" />
                        <input type hidden name="Id" value="@Model.AppointmentModel.Id" />

                    @for (int i = 0; i < Model.Checkboxes.Count; i++)
                        {
                            <div class="form-check">
                                @Html.HiddenFor(m => Model.Checkboxes[i].Id) 
                                @Html.CheckBoxFor(m => Model.Checkboxes[i].IsSelected, new { @class = "form-check-input" }) 
                                @Html.LabelFor(m => Model.Checkboxes[i].IsSelected, Model.Checkboxes[i].Name, new { @class = "form-check-label" }) 
                            </div>
                        }

                        <button type="submit" class="btn btn-primary mr-2">Select Tests</button>
                        <a asp-controller="Appointment" asp-action="Index" class="btn btn-outline-warning">Go Back</a>
                    }
                </section>
            </div>
        </div>
    </div>
</div>